<footer class="site-footer h-card">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><code>{{ site.author.email }}</code></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
  </div>
</footer>
